@import './_palette';

@mixin center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  transition-duration: 1s;
}

body {
  background:palegoldenrod;
}

.App {
  @include center;
  flex-direction: column;

  color: black;

  .friend-container {
    @include center;
    // border:1px solid white;
    flex-wrap: wrap;
    max-width:700px;
  }
}
