@import './_palette';
@import './_mixins';

* {
  box-sizing: border-box;
  transition-duration: 0.5s;
}

body {
  background:$background-color--lite;
}

.App {
  @include center;
  background:$background-color;
  border:1px solid $text-color;
  flex-direction: column;
  margin:8px auto;
  max-width:80%;

  a {
    color:$link-color;
    margin:4px;
    &:hover{
      color:$link-hover;
    }
  }

  h1 {
    color: black;
    margin:8px;
    padding:0;
  }

  .friend-container {
    @include center;
    flex-wrap: wrap;
    max-width:700px;
  }

  .nav {
    @include center;

    .nav__links {
      @include center;
    }
  }
}
