@import '../App';

.FriendForm {
    @include center;
    flex-direction: column;

    input[type=text] {
        background:$background-color--lite;
        border:1px solid $text-color;
        border-radius:4px;
        color:$text-color;
        margin:4px;
        outline:none;
        padding:8px;
        width:150px;

        &:focus {
            background:white;
        }
    }

    input[type=submit], input[type=reset] {
        @include button;
    }
}